/* teal: #07dfdfad */

html {
    background-color: #646464;
}

button:hover {
    background-color: rgb(224, 48, 45);
}

body { 
	font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace; 
}